:root{
    --gradient-1: hsl(221, 26%, 81%);
    --gradient-2: hsl(180, 18%, 79%);
    --gradient-3: hsl(221, 26%, 81%);
    --text-color: hsl(0, 0%, 0%);
    --accent-color: hsl(0, 0%, 89%);
    --checked-color: hsl(120, 85%, 40%);
    --checkbox-color: hsl(0, 0%, 97%);
    --mode-color: hsl(39, 100%, 50%);
}

.darkMode{
    --gradient-1: hsl(0, 0%, 11%);
    --gradient-2: hsl(0, 0%, 19%);
    --gradient-3: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 100%);
    --accent-color: hsl(0, 0%, 17%);
    --checked-color: hsl(120, 74%, 25%);
    --checkbox-color: hsl(0, 0%, 13%);
    --mode-color: hsl(39, 100%, 50%);
}

.comfortaa-family {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(
        to right,
        var(--gradient-1),
        var(--gradient-2),
        var(--gradient-3)
    );
    color: var(--text-color);
}

h1{
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
}

img{
    user-select: none;
}

label{
    user-select: none;
}

input:focus{
    outline: none;
}

#darkSwitch{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--accent-color);
    padding: 0;
    border: none;
    font-size: 20px;
}

  #darkSwitch i{
    color: var(--mode-color);
  }
  
  #darkSwitch i:last-child{
    display: none;
  }
  
  .darkMode #darkSwitch i:first-child{
    display: none;
  }
  
  .darkMode #darkSwitch i:last-child{
    display: block;
  }


.form-container{
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 6px 5px black;
}

.form-select{
    appearance: none;
    background-color: var(--gradient-1);
    border: 1px inset var(--gradient-1);
    color: var(--text-color);
}

.form-control{
    background-color: var(--gradient-1);
    border: 1px inset var(--gradient-1);
    color: var(--text-color);
    border-radius: 10px;
}

.form-control::placeholder{
    color: hsla(0, 0%, 50%, 0.801);
}

.form-control:focus{
    transform: scale(105%);
    background-color: var(--gradient-1);
    color: var(--text-color);
}

#notifsBox{
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

#darkMode{
    position: absolute;
    left: 0;
}

.success{
    background-color: hsl(120, 82%, 40%);
    color: var(--text-color);
    border-radius: 10px;
    padding: 10px;
}

.error{
    background-color: hsl(0, 79%, 42%);
    color: var(--text-color);
    border-radius: 10px;
    padding: 10px;
}

@keyframes slideIn{
    0%{
        opacity: 0;
        transform: translateX(200%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(200%);
    }
}

.slideIn{
    animation: slideIn 1s;
}

.slideOut{
    animation: slideOut 1s;
}

#resolution:empty::before{
    content: attr(data-placeholder);
    color: hsla(0, 0%, 50%, 0.801);
}

#upsellDescription:empty::before{
    content: "Descreva o upsell (módulo vendido, negociação, etc)";
    color: hsla(0, 0%, 50%, 0.801);
}

.form-check-input{
    background-color: var(--checkbox-color);
    border: 1px inset var(--checkbox-color);
    color: var(--text-color);
}

.form-check-input:checked{
    background-color: var(--checked-color);
}

footer{
    user-select: none;
    background-color: var(--gradient-1);
    padding: 10px;
    border-radius: 15px;
}

#infoBtn{
    position: sticky;
    right: 1;
}

.modal-header{
    background-color: var(--gradient-1);
    color: var(--text-color);
    border: none;
}

.modal-body{
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 10px;
}

.modal-footer{
    background-color: var(--gradient-2);
}

.modal-content{
    background-color: var(--accent-color);
}